.movie-card {
  min-width: 200px;
  margin-right: 10px;
  text-align: center;
}

.movie-image {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 265px;
}

.movie-title {
  font-size: 1rem;
  margin-top: 0.5rem;
}
