.carousel-container {
  position: relative;
  margin: 20px;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px 0;
}

/* Hide scrollbar (WebKit) */
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 2rem;
  padding: 60px 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.carousel-arrow.left {
  left: 0;
}

.carousel-arrow.right {
  right: 0;
}
.carousel-animated-container {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.6s ease-in-out;
}

.carousel-animated-container.animate-in {
  opacity: 1;
  transform: scale(1);
}
